# =====  ANSIBLE  ============================================================
#          NAME:  site.yml
#   DESCRIPTION:  Entry point for playbook
# ============================================================================
---
- name: Check if IHS is running
  community.general.pids:
    pattern: "(httpd|{{ item }})"
  loop: "{{ server_list }}"
  register: postup_ihs_processes
  changed_when: false

- name: Send an alert if no processes are found
  vars:
    message_to: kmhuntly+alerts@gmail com
    message_subject: "Post-boot process check for IHS failed"
    message_body: "Post-boot process check for httpd on {{ target_hostname }} found no results"
  ansible.builtin.debug:
    msg: "Post-boot process check for IHS failed"
  notify: send-notification
  when: postup_ihs_processes.pids is not defined
