#==============================================================================
#
#          FILE:  ibm-http-services@.service
#         USAGE:  Install unit file using appropriate systemctl syntax.
#     ARGUMENTS:  None
#   DESCRIPTION:  systemd service to contain IBM WebSphere HTTP servers.
#
#       OPTIONS:  ---
#  REQUIREMENTS:  ---
#          BUGS:  ---
#         NOTES:  ---
#        AUTHOR:  Kevin Huntly <kmhuntly@gmail.com>
#       COMPANY:  ---
#       VERSION:  1.0
#       CREATED:  ---
#      REVISION:  ---
#==============================================================================
[Unit]
Description=IBM HTTP Services
PartOf=ibm-http-services@%i.target
ReloadPropagatedFrom=ibm-http-services@%i.target

[Service]
Type=oneshot
ExecStart=/nfs/software/workspace/WebSphere/AppServer/scripts/servercontrol.sh -c ${CONFIG_FILE} -a start
ExecStop=/nfs/software/workspace/WebSphere/AppServer/scripts/servercontrol.sh -c ${CONFIG_FILE} -a stop
SuccessExitStatus=0
TimeoutStartSec=600
TimeoutStopSec=600

[Install]
WantedBy=ibm-http-services@%i.target
