#==============================================================================
#
#          FILE:  ibm-was-dmgr.service
#         USAGE:  Install unit file using appropriate systemctl syntax.
#     ARGUMENTS:  None
#   DESCRIPTION:  systemd unit file for IBM WebSphere Application Server
#
#       OPTIONS:  ---
#  REQUIREMENTS:  ---
#          BUGS:  ---
#         NOTES:  ---
#        AUTHOR:  Kevin Huntly <kmhuntly@gmail.com>
#       COMPANY:  ---
#       VERSION:  1.0
#       CREATED:  ---
#      REVISION:  ---
#==============================================================================
[Unit]
Description=IBM WebSphere Application Server - Deployment Manager

[Service]
Type=forking
ExecStart=/opt/IBM/WebSphere/profiles/dmgr01/bin/startManager.sh
ExecStop=/opt/IBM/WebSphere/profiles/dmgr01/bin/stopManager.sh
User=${SERVICE_ACCOUNT}
PIDFile=/opt/IBM/WebSphere/profiles/dmgr01/logs/dmgr/dmgr.pid
SuccessExitStatus=143 0

[Install]
WantedBy=default.target
