#==============================================================================
#
#          FILE:  ibm-ihs-admin.service
#         USAGE:  Install unit file using appropriate systemctl syntax.
#     ARGUMENTS:  None
#   DESCRIPTION:  systemd unit file for IBM HTTP Server
#
#       OPTIONS:  ---
#  REQUIREMENTS:  ---
#          BUGS:  ---
#         NOTES:  ---
#        AUTHOR:  Kevin Huntly <kmhuntly@gmail.com>
#       COMPANY:  ---
#       VERSION:  1.0
#       CREATED:  ---
#      REVISION:  ---
#==============================================================================
[Unit]
Description=IBM HTTP Server - Admin Server

[Service]
Type=forking
ExecStart=/opt/IBM/HTTPServer/bin/apachectl -d /opt/IBM/HTTPServer -f /opt/IBM/HTTPServer/conf/admin.conf -k start
ExecStop=/opt/IBM/HTTPServer/bin/apachectl -d /opt/IBM/HTTPServer -f /opt/IBM/HTTPServer/conf/admin.conf -k stop
User=ihsadm
PIDFile=/opt/IBM/HTTPServer/logs/admin.pid
SuccessExitStatus=143 0

[Install]
WantedBy=default.target
