[Unit]
Description=IBM WebSphere Application Server - Application Server
After=ibm-was-nodeagent

[Service]
Type=forking
ExecStart=/usr1/IBM/WebSphere/profiles/<PROFILE NAME>/bin/startServer.sh <SERVER NAME>
ExecStop=/usr1/IBM/WebSphere/profiles/<PROFILE NAME>/bin/startServer.sh <SERVER NAME>
User=<SERVICE ACCOUNT>
PIDFile=/usr1/IBM/WebSphere/profiles/<PROFILE NAME>/logs/<SERVER NAME>/<SERVER NAME>.pid
SuccessExitStatus=143 0

[Install]
WantedBy=default.target
