[Unit]
Description=IBM WebSphere Application Server - Application Server
After=ibm-was-nodeagent

[Service]
Type=forking
ExecStart=/opt/IBM/WebSphere/profiles/<PROFILE NAME>/bin/startServer.sh <SERVER NAME>
ExecStop=/opt/IBM/WebSphere/profiles/<PROFILE NAME>/bin/startServer.sh <SERVER NAME>
User=wasadm
PIDFile=/opt/IBM/WebSphere/profiles/<PROFILE NAME>/logs/<SERVER NAME>/<SERVER NAME>.pid
SuccessExitStatus=143 0

[Install]
WantedBy=default.target
