[Unit]
Description=IBM WebSphere Application Server - nodeagent

[Service]
Type=forking
ExecStart=/opt/IBM/WebSphere/profiles/<PROFILE NAME>/bin/startNode.sh
ExecStop=/opt/IBM/WebSphere/profiles/<PROFILE NAME>/bin/stopNode.sh
User=wasadm
PIDFile=/opt/IBM/WebSphere/profiles/<PROFILE NAME>/logs/nodeagent/nodeagent.pid
SuccessExitStatus=143 0

[Install]
WantedBy=default.target
