#==============================================================================
#
#          FILE:  ibm-was-server@.service
#         USAGE:  Install unit file using appropriate systemctl syntax. Example:
#
#                 systemctl enable ibm-was-server@<INSTANCE>
#
#     ARGUMENTS:  None
#   DESCRIPTION:  systemd unit file for IBM WebSphere Application Server
#
#       OPTIONS:  ---
#  REQUIREMENTS:  ---
#          BUGS:  ---
#         NOTES:  ---
#        AUTHOR:  Kevin Huntly <kmhuntly@gmail.com>
#       COMPANY:  ---
#       VERSION:  1.0
#       CREATED:  ---
#      REVISION:  ---
#==============================================================================
[Unit]
Description=IBM WebSphere Application Server - Application Server
After=ibm-was-nodeagent

[Service]
Type=forking
ExecStart=/opt/IBM/WebSphere/profiles/<PROFILE NAME>/bin/startServer.sh %i
ExecStop=/opt/IBM/WebSphere/profiles/<PROFILE NAME>/bin/startServer.sh %i
User=wasadm
PIDFile=/opt/IBM/WebSphere/profiles/<PROFILE NAME>/logs/%i/%i.pid
SuccessExitStatus=143 0

[Install]
WantedBy=default.target
