[Unit]
Description=IBM WebSphere Application Server - Deployment Manager

[Service]
Type=forking
ExecStart=/opt/IBM/WebSphere/profiles/<PROFILE NAME>/bin/startManager.sh
ExecStop=/opt/IBM/WebSphere/profiles/<PROFILE NAME>/bin/stopManager.sh
User=wasadm
PIDFile=/opt/IBM/WebSphere/profiles/<PROFILE NAME>/logs/dmgr/dmgr.pid
SuccessExitStatus=143 0

[Install]
WantedBy=default.target
