#==============================================================================
#
#          FILE:  ibm-ihs-services@.service
#         USAGE:  Install unit file using appropriate systemctl syntax. Example:
#
#                 systemctl enable ibm-ihs-services@<INSTANCE>
#     ARGUMENTS:  None
#   DESCRIPTION:  systemd unit file for IBM HTTP Server
#
#       OPTIONS:  ---
#  REQUIREMENTS:  ---
#          BUGS:  ---
#         NOTES:  ---
#        AUTHOR:  Kevin Huntly <kmhuntly@gmail.com>
#       COMPANY:  ---
#       VERSION:  1.0
#       CREATED:  ---
#      REVISION:  ---
#==============================================================================
[Unit]
Description=IBM HTTP Server
PartOf=ibm-ihs-services@%i.target
ReloadPropagatedFrom=ibm-ihs-services@%i.target

[Service]
Type=forking
ExecStart=/opt/IBM/HTTPServer/bin/apachectl -d /opt/IBM/HTTPServer -D %i -f /opt/IBM/HTTPServer/conf/httpd.conf -k start
ExecReload=/opt/IBM/HTTPServer/bin/apachectl -d /opt/IBM/HTTPServer -D %i -f /opt/IBM/HTTPServer/conf/httpd.conf -k reload
ExecStop=/opt/IBM/HTTPServer/bin/apachectl -d /opt/IBM/HTTPServer -D %i -f /opt/IBM/HTTPServer/conf/httpd.conf -k stop
PIDFile=/opt/IBM/HTTPServer/logs/%i/httpd.pid
SuccessExitStatus=0
TimeoutStartSec=90
TimeoutStopSec=90
RemainAfterExit=true

[Install]
WantedBy=default.target
