#
# ihs logs
#
/opt/IBM/HTTPServer/logs/access_log {
    daily
    rotate 7
    copytruncate 
    dateext
    compress
    notifempty
    olddir /opt/IBM/HTTPServer/logs/archive
    missingok
    maxsize 50M
}

/opt/IBM/HTTPServer/logs/error_log {
    daily
    rotate 7
    copytruncate 
    dateext
    compress
    notifempty
    olddir /opt/IBM/HTTPServer/logs/archive
    missingok
    maxsize 50M
}

/opt/IBM/HTTPServer/logs/{{ ihs_instance }}/access_log {
    daily
    rotate 7
    copytruncate 
    dateext
    compress
    notifempty
    olddir /opt/IBM/HTTPServer/logs/{{ ihs_instance }}/archive
    missingok
    maxsize 50M
}

/opt/IBM/HTTPServer/logs/{{ ihs_instance }}/error_log {
    daily
    rotate 7
    copytruncate 
    dateext
    compress
    notifempty
    olddir /opt/IBM/HTTPServer/logs/{{ ihs_instance }}/archive
    missingok
    maxsize 50M
}

