[Unit]
Description=IBM WebSphere Application Server - WebSphere Portal
After=ibm-was-nodeagent

[Service]
Type=forking
ExecStart=/opt/IBM/WebSphere/profiles/<PROFILE NAME>/bin/startServer.sh <SERVER NAME>
ExecStop=/opt/IBM/WebSphere/profiles/<PROFILE NAME>/bin/stopServer.sh <SERVER NAME>
User=wasadm
PIDFile=/opt/IBM/WebSphere/profiles/<PROFILE NAME>/logs/<SERVER NAME>/<SERVER NAME>.pid
SuccessExitStatus=143 0
TimeoutStartSec=10min
TimeoutStopSec=10min

[Install]
WantedBy=default.target
