#==============================================================================
#
#          FILE:  ibm-was-server@.service
#         USAGE:  Install unit file using appropriate systemctl syntax. Example:
#
#                 systemctl enable ibm-was-server@<INSTANCE>
#
#     ARGUMENTS:  None
#   DESCRIPTION:  systemd unit file for IBM WebSphere Application Server
#
#       OPTIONS:  ---
#  REQUIREMENTS:  ---
#          BUGS:  ---
#         NOTES:  ---
#        AUTHOR:  Kevin Huntly <kmhuntly@gmail.com>
#       COMPANY:  ---
#       VERSION:  1.0
#       CREATED:  ---
#      REVISION:  ---
#==============================================================================
[Unit]
Description=IBM WebSphere Application Server - Application Server
After=ibm-was-nodeagent@%i
Requires=ibm-was-nodeagent@%i

[Service]
Type=forking
ExecStart=/opt/IBM/WebSphere/profiles/%i/bin/startServer.sh ${SERVER_NAME}
ExecStop=/opt/IBM/WebSphere/profiles/%i/bin/startServer.sh ${SERVER_NAME}
PIDFile=/opt/IBM/WebSphere/profiles/%i/logs/%i/${SERVER_NAME}.pid
SuccessExitStatus=0
TimeoutStartSec=180
TimeoutStopSec=180
RemainAfterExit=true

[Install]
WantedBy=default.target
