# =====  ANSIBLE  ============================================================
#          NAME:  site.yml
#   DESCRIPTION:  Entry point for playbook
# ============================================================================
---
- name: Run postup healthcheck
  hosts: appservers
  roles:
    - postup
    - healthcheck

  pre_tasks:
    - name: Install galaxy collections
      delegate_to: localhost
      ansible.builtin.command:
        cmd: "ansible-galaxy collection install -r requirements.yml"
      changed_when: true

  post_tasks:
