# =====  ANSIBLE  ============================================================
#          NAME:  site.yml
#   DESCRIPTION:  Entry point for playbook
# ============================================================================
---
- name: Check if WAS is running
  community.general.pids:
    pattern: "(java|{{ item }})"
  loop: "{{ server_list }}"
  register: was_processes
  changed_when: false

- name: Send an alert if no processes are found
  vars:
    message_to: kmhuntly+alerts@gmail com
    message_subject: "Post-boot process check for WAS failed"
    message_body: "Post-boot process check for WAS on {{ target_hostname }} found no results"
  ansible.builtin.debug:
    msg: "Post-boot process check for WAS failed"
  notify: send-notification
  when: was_processes.pids is not defined
