# =====  ANSIBLE  ============================================================
#          NAME:  site.yml
#   DESCRIPTION:  Entry point for playbook
# ============================================================================
---
- name: Check if WebSphere Application Server nodeagent started
  ansible.builtin.systemd_service:
    name: ibm-was-nodeagent@{{ was_profile_name }}.service
    state: started
  register: postup_nodeagent_status

- name: WebSphere Application Server nodeagent status
  ansible.builtin.fail:
    msg: |
      Service ibm-was-nodeagent is not running.
      Output of `systemctl status inm-was-nodeagent@{{ was_profile_name }}.service`:
      {{ service_nodeagent_status.stdout }}
      {{ service_nodeagent_status.stderr }}
  when: postup_nodeagent_status | failed

- name: Check if WebSphere Application Server target started
  ansible.builtin.systemd_service:
    name: ibm-was-services@{{ was_profile_name }}.target
    state: started
  register: postup_wasprofile_status

- name: WebSphere Application Server target status
  ansible.builtin.fail:
    msg: |
      Service target ibm-was-services@{{ was_profile_name }}.target is not running.
      Output of `ibm-was-services@{{ was_profile_name }}.target`:
      {{ wasprofile_status.stdout }}
      {{ wasprofile_status.stderr }}
  when: postup_wasprofile_status | failed
